DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
SNAPTURE_ML_DIR=
TZ=

# Database (SQLite is the default for local development.)
SNAPTURE_DB_ENGINE=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
